<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" href="#" ><strong style="color: white" >APP Compras12</strong> </a>
</nav>

<div>
<div class="container" >
  <div class="row h-100 justify-content-center align-items-center">
  <div class="col-lg-4">
    <br>
    <br>
    <br>
    <br>

  <br>

  <div class="login_register">
    <div style="text-align: center;">
      <img src="../../assets/img/logo.png" alt="" width="220px">
      </div>

  <form [formGroup] = "form" (ngSubmit)="login($event)">
    <div class="form-group">
      <label for="exampleInputEmail1">Correo Electrónico1: </label>
      <input type="email" class="form-control" id="exampleInputEmail1"  formControlName="mail" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Contraseña: </label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
    </div>

    <button class="btn btn-primary btn-block" type="submit"  [disabled]="!form.valid">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"  *ngIf="cargado"></span>
      Iniciar Sesión
    </button>
    
  </form>

</div>
  

</div>
</div>
</div>
</div>

